.footer__column-link {
  color: white;
  margin: 0;
  padding-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;

  opacity:1;
  transition: all 0.5s ease;
}

.footer__column-link:hover {
  opacity:0.5;
  transition: all 0.5s ease;
}
