.video__iframes {
  height: 316px;
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 0 auto;
  justify-content: center;
  margin-top: -10px;
 }

 .video__iframe {
  margin-right: 20px;
  position: relative;
  top: 60px;
  z-index: 2;
}

.video__iframe:nth-of-type(2n) {
  margin-right: 0;
}
