.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  overflow: hidden;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
  z-index: 1;
}

.header__title {
  width: 730px;
  position: relative;
  left: 64px;
  flex-direction: column;
  align-self: center;
  flex-wrap: wrap;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;
  margin: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;

  opacity:1;
  transition: all 0.5s ease;
}

.header__link:hover {
  opacity:0.5;
  transition: all 0.5s ease;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}
